<div style="margin-top: 20px;" class="container">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <h5 class="card-header">Création d'un compte</h5>
    <div class="card-body">
        <div class="form-group">
            <label class="card-title">Pseudo :</label>
            <input type="text" class="form-control" [(ngModel)]="user.pseudo"> 
        </div>
        <div class="form-group">
            <label class="card-title">Mot de passe : </label>
            <input type="password" class="form-control" [(ngModel)]="user.password"> 
        </div>
        <div class="form-group">
            <label class="card-title">Prénom : </label>
            <input type="text" class="form-control" [(ngModel)]="user.name"> 
        </div>
        <div class="form-group">
            <label class="card-title">Nom de famille :</label>
            <input type="text" class="form-control"[(ngModel)]="user.surname">  
        </div>
        <button 
            (click)="onSave()"
            type="button" 
            class="btn btn-success"
        >
            Sauvegarder
        </button>
        <button
            (click)="onBack()"
            type="button"
            class="btn btn-warning"
        >
            Retour
        </button>
    </div>
</div>

    
