  <div class="container px-4 py-5" id="featured-3">
    <div class="logoIWS">
      <img src="/assets/images/IWS_Logo.png" width="130" height="45" alt="">
      <h2 class="pb-2 border-bottom">ISEN Web Services</h2>

    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2"><i class="fa-regular fa-calendar"></i> IWS</h3>
        <p>ISEN Web Services vous permet de louer des ressources serveurs (un administrateur pourra créer différentes ressources et les utilisateurs de l'application pourront utiliser celles-ci en les réservant).</p>
        <a [routerLink]="['/login']" class="icon-link d-inline-flex align-items-center">
          Connectez vous pour commancer à utiliser l'application
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <h3 class="fs-2"><i class="fa-solid fa-code-compare"></i> Open Source</h3>
        <p>L'ensemble de l'application est Open Source, vous pouvez retrouver l'ensemble du code sur Git-hub</p>
        <a href="https://github.com/Reckown/ordonnanceur_back"  target="_blank" class="icon-link d-inline-flex align-items-center">
          Lien vers Git-hub
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <h3 class="fs-2"><i class="fa-regular fa-user"></i> Facile d'utilisation</h3>
        <p>L'utilisation de l'application d'ordonnanceur est tres simple et adaptée à tous les utilisateurs. De plus un tutoriel vidéo est fourni pour vous aider à utiliser l'application</p>
        <a href="https://youtu.be/YypITDkoS6M" target="_blank" class="icon-link d-inline-flex align-items-center">
            Lien vers le tutoriel
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>