<div style="margin-top: 20px;">
    <div *ngIf="!isEditingUser" class="card">
        <div class="container">
            <h5 class="card-header">Editer un utilisateur</h5>
            <div class="card-body">
                <div class="form-group">
                    <label class="card-title">Pseudo :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.pseudo" disabled> 
                </div>
                <div class="form-group">
                    <label class="card-title">Prénom : </label>
                    <input type="text" class="form-control" [(ngModel)]="user.name" disabled> 
                </div>
                <div class="form-group">
                    <label class="card-title">Nom de famille :</label>
                    <input type="text" class="form-control"[(ngModel)]="user.surname" disabled>  
                </div>
                <div style="margin-top: 20px;">
                    <button 
                    (click)="onEdit()"
                    type="button" 
                    class="btn btn-secondary"
                    >
                        Modifier
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEditingUser" class="card">
        <div class="container">
            <h5 class="card-header">Editer un utilisateur</h5>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="card-body">
                <div class="form-group">
                    <label class="card-title">Pseudo :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.pseudo"> 
                </div>
                <div class="form-group">
                    <label class="card-title">Prénom : </label>
                    <input type="text" class="form-control" [(ngModel)]="user.name"> 
                </div>
                <div class="form-group">
                    <label class="card-title">Nom de famille :</label>
                    <input type="text" class="form-control"[(ngModel)]="user.surname">  
                </div>
                <button 
                    (click)="onSave()"
                    type="button" 
                    class="btn btn-success"
                >
                    Sauvegarder
                </button>
                <button
                    (click)="onCancelChange()"
                    type="button"
                    class="btn btn-warning"
                >
                    Retour
                </button>
                <button 
                (click)="onDelete()"
                type="button"
                class="delete-btn btn btn-danger"
            >
                Supprimer l'utilisateur
            </button>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <button
        (click)="onBack()"
        type="button"
        class="btn btn-secondary"
        >
            Retour
        </button>
    </div>


</div>